<div class="container">
    <div class="row text-center">
        <h1>Contact Information</h1>
    </div>
    <br>
    <div class="row text-center">
        <h4>First Name</h4>
        <p>{{firstName}}</p>
    </div>
    <div class="row text-center">
        <h4>Last Name</h4>
        <p>{{lastName}}</p>
    </div>
    <div class="row text-center">
        <h4>Email</h4>
        <p>{{email}}</p>
    </div>
    <div class="row text-center">
        <h4>Company/Organization</h4>
        <p>{{companyOrg}}</p>
    </div>
    <div class="row text-center">
        <h4>Interest Subject</h4>
        <p>{{involvedSubject}}</p>
    </div>
    <div class="row text-center">
        <h4>Interest Description</h4>
        <p>{{briefDescription}}</p>
    </div>
</div>